name: Deploy Front Server (Blue/Green)

on:
  push:
    branches: [ "feature/**" , "feat/**"]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  deploy:

    uses: nhnacademy-be12-high-five/.github/.github/workflows/shared-workflow.yml@main
    with:

      service-name: front_server
      
      deploy-path: /home/backend/be12-team5/www/nhnbook
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      SSH_IP: ${{ secrets.SSH_IP }}
      SSH_ID: ${{ secrets.SSH_ID }}
      SSH_PW: ${{ secrets.SSH_PW }}
      SSH_PORT: ${{ secrets.SSH_PORT }}

